@charset "urf-8";

.navbar {
    background: #bfbec5;
    margin: 50px;
    padding: 0;
    list-style: none;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}

.navbar > li {
    display: inline-block;
}

.navbar > li > a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: #ffffff;
}

.navbar > li > a:hover {
    background: #9d8e87;
}

#T {
    margin-top:
        clear: both;
    height: 100px;
    background-color: #f7bd8f;
}


table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    min-width: 500px;
}

.th{
    border-bottom: 1px solid #444444;
    padding: 
    text-align: center;
}

th:nth-of-type(2)
{
    background-color: #ff7f7f;
}
th:nth-of-type(3)
{
    background-color: #ff7fbf;
}
th:nth-of-type(4)
{
    background-color: #ff7fff;
}
th:nth-of-type(5)
{
    background-color: #bf7fff;
}
th:nth-of-type(6)
{
    background-color: #7f7fff;
}
th:nth-of-type(7)
{
    background-color: #7fbfff;
}
th:nth-of-type(8)
{
    background-color: #7fffff;
}
th:nth-of-type(9)
{
    background-color: #7fffbf;
}
th:nth-of-type(10)
{
    background-color: #7fff7f;
}
th:nth-of-type(11)
{
    background-color: #bfff7f;
}
th:nth-of-type(12)
{
    background-color: #ffff7f;
}
th:nth-of-type(13)
{
    background-color: #ffbf7f;
}
/*
td:nth-child(2n) 
td:nth-child(2n+1) 
*/

input[type="submit"] {

    border: 1px solid #0086F9;
    border-radius: 4px;
    background: linear-gradient(0deg, #0086f9, #b6d6f7);
    color: #FFF;
}

#form-commentInfo {
    width: 100%;
}

#comment-count {
    margin-bottom: 10px;
}

#comment-input {
    width: 50%;
    height: 3.3em;
}

#submit {
    background-color: rgb(0, 128, 255);
    width: 5.5em;
    height: 3.3em;
    ;
    font-size: 15px;
    font-weight: bold;
    color: aliceblue;
}

#comments {
    margin-top: 10px;
}

.eachComment {
    width: 50%;
    margin: 10px;
    padding: 0.5em;
    border-bottom: 1px solid #c1bcba;
}

.eachComment .name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.3em;
    display: flex;
    justify-content: space-between;
}

.eachComment .inputValue {
    font-size: 1.2em;
    font-style: italic;
}

.eachComment .time {
    font-size: 0.7em;
    color: #c1bcba;
    font-style: oblique;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.eachComment .deleteComment {
    background-color: red;
    color: aliceblue;
}
