@charset "utf-8";

.navbar {
    background: #bfbec5;
    margin: 50px;
    padding: 0;
    list-style: none;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}

.navbar > li {
    display: inline-block;
}

.navbar > li > a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: #ffffff;
}

.navbar > li > a:hover {
    background: #9d8e87;
}

#T {
    margin-top:
        clear: both;
    height: 100px;
    background-color: #f7bd8f;
}
#totheT {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
}
#T1 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #ed6d35;
}

#T2 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #bbdbf3;
}

div > a {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}

#T3 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #a7d28d;
}
