@charset "utf-8";

.navbar {
    background: #bfbec5;
    margin: 50px;
    padding: 0;
    list-style: none;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}

.navbar > li {
    display: inline-block;
}

.navbar > li > a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: #ffffff;
}

.navbar > li > a:hover {
    background: #9d8e87;
}


#top {
    margin-top:
        clear: both;
    height: 100px;
    background-color: #f7bd8f;
}

#tothetop {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
}

#top1 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #ff7f7f;
}

#top2 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #ff7fbf;

}

#top3 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #ff7fff;

}

#top4 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #bf7fff;

}

#top5 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #7f7fff;

}

#top6 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #7fbfff;

}

#top7 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #7fffff;

}

#top8 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #7fffbf;

}

#top9 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #7fff7f;

}

#top10 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #bfff7f;

}

#top11 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #ffff7f;

}

#top12 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #ffbf7f;

}

#tobu1 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #ff7f7f;
    cursor:pointer;

    line-height: 100px;
    display: block;
    text-decoration: none;
    text-align: center;

    padding: 100px 200px;
    color: #ffffff;
}

#tobu1:hover {
    background: #9d8e87;
}

#tobu2 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #ff7fbf;
    line-height: 100px;
    display: block;
    text-decoration: none;
    text-align: center;
    cursor:pointer;

    padding: 100px 200px;
    color: #ffffff;
}

#tobu2:hover {
    background: #9d8e87;
}

#tobu3 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #ff7fff;
    line-height: 100px;
    display: block;
    text-decoration: none;
    text-align: center;
    cursor:pointer;

    padding: 100px 200px;
    color: #ffffff;
}

#tobu3:hover {
    background: #9d8e87;
}

#tobu4 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #bf7fff;
    line-height: 100px;
    display: block;
    text-decoration: none;
    text-align: center;
    cursor:pointer;

    padding: 100px 200px;
    color: #ffffff;
}

#tobu4:hover {
    background: #9d8e87;
}

#tobu5 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #7f7fff;
    line-height: 100px;
    display: block;
    text-decoration: none;
    text-align: center;
    cursor:pointer;

    padding: 100px 200px;
    color: #ffffff;
}

#tobu5:hover {
    background: #9d8e87;
}

#tobu6 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #7fbfff;
    line-height: 100px;
    display: block;
    text-decoration: none;
    text-align: center;
    cursor:pointer;

    padding: 100px 200px;
    color: #ffffff;
}

#tobu6:hover {
    background: #9d8e87;
}

#tobu7 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #7fffff;
    line-height: 100px;
    display: block;
    text-decoration: none;
    text-align: center;
    cursor:pointer;

    padding: 100px 200px;
    color: #ffffff;
}

#tobu7:hover {
    background: #9d8e87;
}

#tobu8 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #7fffbf;
    line-height: 100px;
    display: block;
    text-decoration: none;
    text-align: center;
    cursor:pointer;

    padding: 100px 200px;
    color: #ffffff;
}

#tobu8:hover {
    background: #9d8e87;
}

#tobu9 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #7fff7f;
    line-height: 100px;
    display: block;
    text-decoration: none;
    text-align: center;
    cursor:pointer;

    padding: 100px 200px;
    color: #ffffff;
}

#tobu9:hover {
    background: #9d8e87;
}

#tobu10 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #bfff7f;
    line-height: 100px;
    display: block;
    text-decoration: none;
    text-align: center;
    cursor:pointer;

    padding: 100px 200px;
    color: #ffffff;
}

#tobu10:hover {
    background: #9d8e87;
}

#tobu11 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #ffff7f;
    line-height: 100px;
    display: block;
    text-decoration: none;
    text-align: center;
    cursor:pointer;

    padding: 100px 200px;
    color: #ffffff;
}

#tobu11:hover {
    background: #9d8e87;
}

#tobu12 {
    margin-top: 16px;
    clear: both;
    height: 100px;
    background-color: #ffbf7f;
    line-height: 100px;
    display: block;
    text-decoration: none;
    text-align: center;
    cursor:pointer;

    padding: 100px 200px;
    color: #ffffff;
}

#tobu12:hover {
    background: #9d8e87;
}
